<div class="container-fluid justify-content-center d-flex" style="height:40px;">
    <div>
        <h3>{{title}}</h3>
            <dl>
                <dt>UserName</dt>
                <dd class="input-group">
                    <span class="bi bi-person input-group-text"></span>
                    <input type="text" class="form-control">
                </dd>
                <dt>Password</dt>
                <dd class="input-group">
                    <span class="bi bi-key-fill input-group-text"></span>
                    <input type="password" class="form-control">
                </dd>
                <div class="d-grid">
                    <button class="btn btn-primary">LogIn</button>
                </div>
            </dl>
    </div>
</div>